:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #6d6875;
  display: flex;
  justify-content: center;
  margin: 0;
  height: auto;
  font-family: system-ui, sans-serif;
  color: #ffcdb2;
}

header {
  padding: 3rem 0 1rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}
a {
  font-style: italic;
  color: #e5989b;
  padding: 0 0.25rem;
}
a:hover {
  color: #b5838d;
}

.allTheStuff {
  width: 90vw;
}

.box {
  border: #e5989b 2px solid;
  padding: 5px;
  margin: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.centerbox {
	text-align: center;
}

.boxborder {
  border: #e5989b 3px solid;
}

.alstolfo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moth {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 5vw;
}

.moth:hover {
  animation: fadeIn 5s;
  opacity: 1;
}

.funkyborder {
	border-width: 9px;
	padding: 10px;
	width: 650px;
	border-style: solid;
	border-image: url("images/design/funky_border_blue.png") 9 fill round;
	margin: auto;
	align-items: center;
	justify-content: center;
}